
.nav {
    grid-area: nav;
    background-color: cornflowerblue;
    padding: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a.active {
    color: gold;
}

.friends {

}

.friend {
    display: grid;
    grid-area: div;
    background-color: red;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px 30px 30px;
    padding: 3px;
}

.avatar {
    width: 50px;
    border-radius: 50%;
    box-shadow: cornflowerblue 5px 6px 10px;

}
